@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  width: 100%;
}

.input-field {
  height: 40px;
  top: 64px;
  gap: 0px;
  border-radius: 9px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #f0dfdf;
  padding: 1px 10px;
}

.spin {
  animation: logo-spin infinite 50s linear;
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-family: Righteous;
  font-size: 35px;
  font-weight: 400;
  line-height: 55.63px;
  text-align: left;
}

label {
  font-family: Public Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 38.27px;
  text-align: left;
}

.btn,
.no-bg-btn {
  background: #128cfc;
  height: Hug (40px) px;
  padding: 10px 31px;
  border-radius: 10px;
  opacity: 0px;
  color: white;
}
.no-bg-btn {
  background: transparent;
  border: 1px solid blue;
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
  }
  label {
    font-size: 15px;
  }
}

.ant-checkbox,
.ant-select {
  border: 1px solid black !important;
}

.ant-select,
.ant-input {
  border: 1px solid black;
  border-radius: 6px;
  height: 34px;
}
.ant-select-arrow {
  color: #000 !important;
}
