@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  width: 100%;
}

.spin {
  animation: logo-spin infinite 50s linear;
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-family: Righteous;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
}

label {
  font-family: Public Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.btn {
  background: #128cfc;
  height: Hug 35px;
  padding: 10px 31px;
  border-radius: 10px;
  opacity: 1px;
  color: white;
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
  }
  label {
    font-size: 15px;
  }
}

.ant-checkbox,
.ant-select {
  border: 1px solid black !important;
}

.ant-select,
.input-field,
.ant-input {
  border: 1px solid black;
  border-radius: 6px;
  height: 34px;
  width: 100%;
}
.input-field,
.ant-input {
  padding: 1px 10px;
}

.ant-select-arrow {
  color: #000 !important;
}
a {
  color: rgb(14, 14, 59);
}
